* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

nav li {
  height: 90px;
}

nav a {
  height: 100%;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.menu-btn {
  display: none;
}
.sidebar {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .sidebar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(215, 0, 0, 0.221);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  .sidebar li {
    width: 100%;
  }

  .sidebar a {
    width: 100%;
    padding: 20px;
  }

  .sidebar li:first-child {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* Section 1 */

.section {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
}

.first,
.second {
  display: flex;
}

@media (max-width: 800px) {
  .first,
  .second {
    flex-direction: column;
  }
}
.imgC {
  margin: 10px;
  text-align: center;
}

.imgC img {
  max-width: 100%;
  height: auto;
  transition: transform 1s ease;
}

.imgC h2 {
  margin-top: 20px;
}

.imgC:hover img {
  transform: scale(1.05);
}

/* Section 2 */

.main2 {
  width: 100%;
  background-color: #f5f0ea;
  display: flex;
  justify-content: center;
}

.main2 .left2, .main2 .right2 {
  width: 50%;
  max-width: 500px;
  margin: 70px;
}

.right2 h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.right2 .inner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.right2 .inleft img {
  max-width: 50px;
  margin-right: 10px;
}

.right2 .inright h3 {
  margin-bottom: 10px;
}

.right2 button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 730px) {
  .left2 img {
    width: 250px;
    height: 250px;
  }
  .main2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .main2 .left2,.main2 .right2 {
    width: 100%;
    max-width: 500px;
    margin: 20px;
  }
}

/* Footer */

.main-footer {
  width: 100%;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.first-footer,
.second-footer,
.third-footer,
.fourth-footer {
  width: 25%;
  max-width: 450px;
  margin: 10px 0;
  text-align: center;
}

.subscribe input {
  font-size: 16px;
  height: 35px;
  margin-bottom: 10px;
}

.subscribe button {
  height: 35px;
  width: 100px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.second-footer ul,
.third-footer ul {
  list-style: none;
  padding: 0;
}

.second-footer ul li,
.third-footer ul li {
  margin-bottom: 10px;
}

.fourth-footer div {
  margin-top: 10px;
}

.fourth-footer a {
  text-decoration: none;
  color: black;
}

.fourth-footer .icons i {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 5px;
}
@media (max-width: 431px) {
  .subscribe input {
    font-size: 14px;
    width: 140px;
  }
  .fourth-footer .icons i {
    margin: 10px 0px;
  }
  .fourth-footer a {
    font-size: 12px;
  }

  .first-footer,
.second-footer,
.third-footer,
.fourth-footer {
  width: 100%;
  max-width: 450px;
  margin: 10px 0;
  text-align: center;
}
}
